@import "../../../../styles/breakpoints.scss";

.authModal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    content: "";

    .error {
        color: red;
        font-size: 12px;
        margin-left: 10px;
    }
}

.authForm {
    position: relative;
    min-width: 400px;
    background-color: #f5f4fe;
    padding: 30px 30px 40px;
    border-top: 5px solid #fb0;
    box-shadow: 0 20px 60px rgb(0 0 0 / 50%);
    text-align: center;

    .closeBtn {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .authTitle {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .title {
        font-weight: 400;
        font-size: 24px;
        color: #42407C;
    }

    .loginAvatar {
        justify-content: center;
        margin-bottom: 15px;

        .loginIcon {
            color: #443F80;
            font-size: 50px;
        }
    }

    .input {
        width: 100%;
        margin-bottom: 15px;
        position: relative;

        .inputField {
            width: 100%;
            height: 42px;
            border-radius: 32px;
            background-color: #ffffff;
            flex-shrink: 0;
            border: none;
            padding-left: 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            text-align: center;
            color: #443F80;
        }

        .showPasswordBtn {
            color: #443F80;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 16px;
        }

        .error {
            color: red;
            font-size: 12px;
            margin-left: 10px;
        }

        .inputField:focus {
            outline: none;
            border: none;
        }
    }

    .enterBtn {
        width: 193px;
        height: 42px;
        border-radius: 32px;
        background: rgba(68, 63, 128, 0.32);
        border: none;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        line-height: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }

}

@media (max-width: $sm) {
    .authForm {
        min-width: auto;
        width: 100%;
        max-width: 400px;
    }
}