$mainColor: #f5f4fe;
$secondaryColor: #ffffff;

.subscriptionContainer {
    z-index: 0;
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .animalCenter {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 11%;
        width: 39%;
    }

    .topCenterFig {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 28%;
    }

    .vector1 {
        display: none;
    }

    .vector2 {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 10px;
    }

    .vector3 {
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: 220px;
        width: 20%;
    }

    .vector4,
    .vector5,
    .vector6,
    .vector7 {
        display: none;
    }

    .logoContainer {
        position: absolute;
        top: 15px;
        left: 30px;

        .logo {
            width: 65.314px;
            height: 60px;
        }
    }


    @media (max-width: 1200px) {
        .animalCenter {
            width: 40%;
        }

        .topCenterFig {
            width: 20%;
        }

        .vector1 {
            // width: 30%;
            display: none;
        }

        .vector2 {
            width: 20%;
        }

        .vector3 {
            width: 17%;
        }

    }

    @media (max-width: 1011px) {

        flex-direction: column; //

        .animalCenter,
        .topCenterFig,
        .vector1,
        .vector2,
        .vector3 {
            display: none;
        }

        .vector4 {
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 12%;
            width: 70%;
        }

        .vector5 {
            display: block;
            position: absolute;
            z-index: -1;
            top: 23%;
            left: 0;
            width: 70%;
        }

        .leftContent {
            margin-left: 0;
            margin-top: 20px;
            margin-bottom: 0;
            padding-right: 0;

            .subscriptionForm {
                .btnSubmit {
                    display: none;
                }
            }
        }

        .logoContainer {
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }

        .rightContent {
            order: 2; //
            background-color: $mainColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 30px;
            min-height: 0;
            padding-bottom: 20px;

            .orderContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start
            }

            .SecondBtnSubmit {
                display: flex;
                justify-content: center;
                //display: block;
                align-items: center;
            }
        }
    }

    @media(max-width:576px) {
        .leftContent {
            .subscriptionForm {
                .field {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;


                    .fieldLabel {
                        margin-left: 20px;
                        margin-right: 20px;
                        width: 100%;
                    }

                    .fieldInput {
                        margin-left: 20px;
                        width: 90%;
                        height: 52px;
                    }
                }

                .fieldCheckbox {
                    .fieldCheckLabel {
                        .checkboxText {
                            font-size: 10px;
                            padding-left: 15px;
                        }
                    }
                }

                .messengerLabel {
                    width: 336px;
                }
            }
        }

        .rightContent {
            padding-left: 0;
            padding-right: 0;

            .container {
                width: 70%;
            }

            .orderContainer {
                width: 70%;
            }

            .line {
                width: 70%;
            }
        }

    }
}

.leftContent {
    flex: 3;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 50px;
    //background-color: $mainColor;


    .headerSub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hed {
            font-size: 32px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            color: #42407C;
        }

        p {
            text-align: center;
            max-width: 650px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            margin-top: 20px;
            color: #f53754;
        }

        .accountBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 203px;
            height: 52px;
            border-radius: 32px;
            margin-top: 30px;
            background: rgba(68, 63, 128, 0.32);
            border: none;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            line-height: normal;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
    }

    .subscriptionForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .field {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            margin: 0;
            color: #42407C;


            .fieldLabel {
                display: flex;
                font-size: 18px;
                font-weight: 400;
                line-height: normal;
                font-style: normal;
                color: #42407C;
            }

            .fieldInput {
                width: 538px;
                height: 52px;
                border-radius: 32px;
                background-color: #ffffff;
                flex-shrink: 0;
                border: none;
                padding-left: 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                font-style: normal;
                color: #42407C;
                position: relative;
                z-index: 1;
            }

            .fieldInput:focus {
                outline: none;
                border: none;
            }

            .fieldInput::placeholder {
                color: #42407C;
            }
        }

        .fieldCheckbox {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            margin-top: 20px;

            .fieldInputCheck {
                display: none;
            }

            .fieldCheckLabel {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                .checkedImg {
                    width: 21px;
                    height: 21px;
                }

                .checkboxText {
                    line-height: normal;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    padding-left: 20px;
                    color: #42407C;
                }
            }
        }

        .messengerLabel {
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            width: 400px;
            color: #42407C;
        }

        .messengerCheck {
            display: flex;
            gap: 150px;
            color: #42407C;

            .radio {
                display: none;
            }

            .checkboxLabel {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                .checkboxVb,
                .checkboxTg {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    font-style: normal;
                }
            }
        }

        .btnSubmit {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 203px;
            height: 52px;
            border-radius: 32px;
            margin-top: 30px;
            background: rgba(68, 63, 128, 0.32);
            border: none;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            line-height: normal;
            text-align: center;
            color: #ffffff;
            cursor: pointer;

            &:disabled {
                background: rgb(148 148 148);
                cursor: not-allowed;
            }
        }
    }
}

.rightContent {
    min-height: 100vh;
    flex: 2;
    padding-left: 70px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    background-color: $secondaryColor;

    .title {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #42407C;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .line {
        width: 80%;
        border: none;
        height: 1px;
        background-color: #ca76c8;
        margin: 20px auto;
    }

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .toysTitle {
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            color: #42407C;
        }

        .contentBox {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .btnEdit {
                border: none;
                background: none;
                color: inherit;
                font: inherit;
                padding: 0;
                cursor: pointer;
                font-size: 14px;
                color: #42407C;
            }
        }
    }

    .SecondBtnSubmit {
        display: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 203px;
        height: 52px;
        border-radius: 32px;
        margin-top: 30px;
        background: rgba(68, 63, 128, 0.32);
        border: none;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        line-height: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }
}