.bagItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoWrapper {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    .image {
        background-color: #fff;
        padding: 0 30px;
        border-radius: 10px;

        .img {
            width: 113.066px;
            height: 113.066px;
        }
    }

    h6 {
        color: #42407c;
        font-size: 22px;
        font-family: "FE Oblako";
    }

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width : 992px) {
    .bagItem {

        .image {

            .img {
                width: 97.27px;
                height: 96.46px;
            }
        }

        h6 {
            font-size: 16px;
        }

        button {
            .btn {
                width: 36.267px;
                height: 39.004px
            }
        }
    }
}


@media(max-width : 576px) {
    .bagItem {
        .infoWrapper {
            gap: 15px;
        }

        .image {
            padding: 0 15px;

            .img {
                width: 59.016px;
                height: 59px;
            }
        }

        h6 {
            font-size: 14px;
        }
    }
}