@import "../../styles/breakpoints.scss";

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  color: #42407c;
  font-size: 18px;
  font-family: "FE Oblako";
  line-height: 24px;
  border-radius: 32px;
  border: 2.2px solid #42407c;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #42407c;
    color: #fff;
  }
}

.toy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h1 {
    margin-top: 70px;
    margin-left: 60px;
    margin-bottom: 50px;
    color: rgba(66, 64, 124, 0.6);
    font-size: 14px;
    font-family: Factor A TRIAL;
    font-weight: 700;
  }

  .toyWrapper {
    box-sizing: border-box;
    gap: 300px;
    display: flex;
    padding: 0 60px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .toyTitle {
    h2 {
      max-width: 375px;
      color: #42407c;
      font-size: 24px;
      font-family: FE Oblako;
    }

    button {
      @extend .addBtn;
    }
  }

  .toyInfo {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    min-height: 800px;
    padding: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -120px;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 200px);
      border-radius: 8px;
      z-index: -1;
      opacity: 0.8;
    }

    .toyInfoLeft {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .toyDescription {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h6 {
          color: var(--main-black, #42407c);
          font-size: 24px;
          font-family: "FE Oblako";
        }

        p {
          max-width: 760px;
          color: var(--main-black, #42407c);
          font-size: 20px;
          font-family: Factor A TRIAL;
          line-height: 26px;
        }
      }

      .toyFeatures {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h6 {
          max-width: 600px;
          color: var(--main-black, #42407c);
          font-size: 24px;
          font-family: "FE Oblako";
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 25px;

          li {
            color: var(--main-black, #42407c);
            font-size: 20px;
            font-family: "Factor A";
            line-height: 26px;
            max-width: 700px;
            list-style-image: url("./assets/listStar.png");
          }
        }
      }
    }

    .toyCharacterstic {
      min-width: 450px;
      display: flex;
      flex-direction: column;

      h6 {
        color: var(--main-black, #42407c);
        font-size: 24px;
        font-family: "FE Oblako";
        margin-bottom: 20px;
      }
    }

    .toyCharactersticItem {
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #fff;

      .title {
        color: var(--main-black, #42407c);
        font-size: 20px;
        font-family: "Factor A";
        font-weight: 700;
        line-height: 26px;
      }

      .value {
        color: var(--main-black, #42407c);
        text-align: right;
        font-size: 20px;
        font-family: 'Factor A TRIAL';
        line-height: 26px;
      }
    }
  }
}

.mobileAddBtn {
  display: none;
  @extend .addBtn;
}

@media (max-width: $xxl) {
  .toy .toyWrapper {
    gap: 150px;
  }

  .toy .toyInfo {
    padding: 50px;
    padding-top: 75px;
  }

  .toy .toyInfo .toyInfoLeft .toyDescription p {
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: $xl) {
  .toy {
    align-items: center;
    justify-content: center;

    .toyWrapper {
      gap: 75px;

      .toyTitle {
        text-align: center;
      }
    }

    .toyInfo {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding-bottom: 300px;
      padding-top: 100px;

      .toyInfoLeft {
        gap: 50px;
      }
    }
  }
}

@media (max-width: $lg) {
  .toy {
    .toyWrapper {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding-top: 100px;

      .toyTitle {
        order: 1;
        text-align: center;

        button {
          display: none;
        }
      }
    }

    .toyInfo {

      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding-top: 100px;

      .toyInfoLeft {
        gap: 50px;
      }
    }

    .mobileAddBtn {
      display: flex;
      order: 3;
    }
  }
}

@media (max-width: $sm) {
  .toy {
    .toyWrapper {
      padding: 0 15px;
      gap: 30px;
    }

    .toyInfo {
      width: 100%;
      padding: 0 15px;
      padding-top: 50px;
      padding-bottom: 150px;
      margin-bottom: -50px;
    }

    .toyInfo .toyCharacterstic {
      align-items: center;
      justify-content: center;
      min-width: 300px;
      width: 100%;
    }

    .toyInfo .toyInfoLeft .toyDescription p {
      max-width: 100%;
    }

    .toyInfo .toyInfoLeft .toyFeatures ul {
      margin-left: 15px;
    }
    
    .toyInfo .toyInfoLeft .toyFeatures ul li {
      max-width: 100%;
    }
  }
}