@import "../../styles/breakpoints.scss";

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;

  .cartBtn {
    background: transparent;
    border: none;
  }

  .profileWrapper {
    position: relative;
    height: 50px;
  }

  .profileBtnWithoutUser {
    background: none;
    border: none;
  }

  .profileBtn {
    height: 100%;
    cursor: pointer;
    padding: 15px 25px;
    background: url("./assets/authorizedBg.png") no-repeat;
    background-size: cover;
    border-radius: 32px;
    font-family: "Factor A TRIAL";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #42407c;
    border: none;

    &.dark {
      background: url("./assets/authorizedBgDark.png") no-repeat;
      color: #ffffff;
    }
  }

  .containerLeft {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .containerRight {
    display: flex;
    align-items: center;
    gap: 20px
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 50px;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      transition: 0.3s;

      &:hover {
        color: #f5f5f5;
      }
    }

    &.dark {
      a {
        color: #8B87B2;

        &:hover {
          color: #443F80;
        }
      }
    }
  }
}

.headerMobile,
.mobileMenu,
.monsterLg,
.monsterSm,
.patternLg,
.patternSm {
  display: none;
}

@media (max-width: $xl) {
  .header {
    padding: 20px 30px 0;
  }
  .header .containerLeft {
    gap: 30px;
  }
}

@media (max-width: $lg) {
  .header,
  .logoCenter {
    display: none;
  }

  .patternLg {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: -1;
  }

  .monsterLg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
  }

  .headerMobile {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    display: flex;
    padding: 0 50px;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;

    .containerLeft {
      display: flex;
      align-items: center;
      gap: 70px;
    }

    .navItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: transparent;
      text-decoration: none;
      border: none;
      cursor: pointer;

      img {
        width: 40px;
        object-fit: contain;
      }

      h6 {
        color: #FFF;
        text-align: center;
        font-family: 'FE Oblako';
        font-size: 12px;

        .mobileMenu &, &.dark {
          color: #443F80;
        }
      }
    }

    .cartBtn {
      background: transparent;
      border: none;
    }
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #F5F4FE;
    overflow-y: scroll;

    footer {
      position: relative;
      bottom: 0;
      left: 0;
      padding-top: 130px;
      padding-bottom: 30px;
      width: 100%;
      background: url("./assets/footerBgLg.png") no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 25px;
      }

      .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 50px;

        h6 {
          color: #FFF;
          text-align: center;
          font-family: 'FE Oblako';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .terms {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;

        h6 {
          color: #FFF;
          text-align: right;
          font-family: 'FE Oblako';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .copyRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h6 {
          color: #FFF;
          text-align: center;
          font-family: 'Factor A TRIAL';
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .navigation {
    margin-top: 60px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    margin-bottom: 120px;

    li button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: none;
      color: #42407C;
      text-align: center;
      font-family: 'FE Oblako';
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: #42407C;
      text-align: center;
      font-family: 'FE Oblako';
      font-size: 18px;
    }
  }
}

@media (max-width: $md) {
  .logoMenu {
    display: none;
  }

  .logoCenter {
    display: block;
  }

  .navItem.catalogue {
    display: none;
  }
}

@media (max-width: $sm) {

  .monsterLg,
  .patternLg {
    display: none;
  }

  .patternSm {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: -1;
  }

  .monsterSm {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    display: block;
    z-index: 1;
  }

  .mobileMenu {
    footer {
      background: url("./assets/footerBgSm.png") no-repeat;
      background-size: cover;
      padding-top: 100px;
    }
  }

  .navigation {
    a {
      font-size: 14px;
    }
  }
}