@import "../../styles/breakpoints.scss";

.faq {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #443f80;
    text-align: center;
    font-size: 32px;
    font-family: "FE Oblako";
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .popularQuestionsCategories {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 900px;

    .popularQuestionsCategory {
      cursor: pointer;
      background-color: transparent;
      padding: 16px 24px;
      color: #70d9ce;
      font-size: 15px;
      font-family: "Factor A";
      font-weight: 700;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      border-radius: 32px;
      border: 2.2px solid #70d9ce;

      &.selected {
        background-color: #70d9ce;
        color: #fff;
      }
    }
  }

  .popularQuestions {
    max-width: 1400px;
    width: 100%;
    padding: 0 100px;
    margin-bottom: 50px;
  }
}

@media (max-width: $lg) {
  .faq .popularQuestions {
    padding: 0 50px;
  }

  .faq .popularQuestionsCategories {
    max-width: 700px;
  }

  .faq .popularQuestionsCategories .popularQuestionsCategory {
    padding: 12px 20px;
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  .faq h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .faq .popularQuestions {
    padding: 0 20px;
  }

  .faq .popularQuestionsCategories {
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .faq .popularQuestionsCategories .popularQuestionsCategory {
    padding: 10px 16px;
    font-size: 12px;
  }
}